.pulse {
	margin-right: 10px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	/* background: #cca92c; */
	background: var(--accent-color);
	cursor: pointer;
	box-shadow: 0 0 0 rgba(124, 77, 255, 0.4);
	/* box-shadow: 0 0 0 rgba(204, 169, 44, 0.4); */
	animation: pulse 2s infinite;
}
.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(124, 77, 255, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 3px rgba(124, 77, 255, 0.4);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(124, 77, 255, 0.4);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(124, 77, 255, 0.4);
		box-shadow: 0 0 0 0 rgba(124, 77, 255, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 3px rgba(124, 77, 255, 0.4);
		box-shadow: 0 0 0 3px rgba(124, 77, 255, 0.4);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(124, 77, 255, 0.4);
		box-shadow: 0 0 0 0 rgba(124, 77, 255, 0.4);
	}
}
