.friendsWrapper {
    overflow: auto;
    height: calc(100vh - 60px);
}
.friendsHeader {
    border-bottom: 1px solid #00e676;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 50px;
}
.friendsWrapper .friendsHeader a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    opacity: .5;
    margin: 5px 10px;
}
.friendsWrapper .friendsHeader a:last-child {
    margin-left: 50px;
}

.friendsWrapper a.active {
    font-weight: 600;
    font-size: 25px;
    opacity: 1;
}



