.nav {
  grid-area: nav;
  background-color: #222A33;
  padding: 10px;
  text-align: left;
  height: calc(100vh - 80px);
}
.item {
  margin: 10px 0px;
  padding: 5px;
}
.item:last-child {
  position: absolute;
  bottom: 100px;
}
.item a.active {
  color: #00e676;
}
.item a {
  text-decoration: none;
  color: #ccc;
  font-size: 17px;
  letter-spacing: 1px;
  transition: .1s linear;
  font-weight: 400;
  margin: auto 10px;
  z-index: 2;
}
.item a:hover {
  color: #fff;
}
.friendsOnline {
  font-size: 15px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 10px 0px;
  position: absolute;
  bottom: 20px;
}
.onlineDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5px #00e676;
  background-color: #00e676;
  animation: onlineDotsAnimation 3s ease-in-out infinite;
}

@keyframes  onlineDotsAnimation{
  0%{box-shadow: 0px 0px 0px #00e676}
  50%{box-shadow: 0px 0px 5px #00e676}
  100%{box-shadow: 0px 0px 0px #00e676}
}


