.loginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  text-align: center;
  flex-direction: column;
}
.loginPage .lds-ellipsis {
  margin: 0 auto;
}
.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 7em;
  width: 20em;
}
.loginInput {
  border: none;
  height: 4em;
  margin: 10px 0px;
  padding: 0px 10px;
}
.loginPageTitle {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  color: #fff;
}
.loginPageTitle span {
  color: var(--accent-color);
  cursor: default;
  font-weight: 500;
}
.loginPageTitle span:hover {
  color: var(--accent-color);
}
.warningText {
  color: red;
  font-size: 15px;
  margin: 0;
}
.loginFormButton {
  height: 3em;
  cursor: pointer;
  border: none;
  transition: 0.1s all linear;
  width: calc(19em - 3px);
  font-size: 17px;
  background-color: var(--accent-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginFormButton p {
  font-size: 20px;
}
.loginFormButton:hover {
  background-color: #633dca;
}
.rememberMeLabel {
  color: #fff;
  text-align: left;
  margin: 0.3em 0 0.8em;
}
