.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "header header" "nav cont";
    color: #fff;
}
.appWrapperContent {
    grid-area: cont;
    padding-bottom: 50px;
}




