.dialogs {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "m d";
    height: calc(100vh - 60px);
}
.dialogsItems {
    display: flex;
    flex-direction: column;
    overflow: auto;
    grid-area: d;
}
.dialogsItems a.active {
    color: #00e676;
    background-color: rgba(88, 96, 109, 0.6);
}
.dialogsItems a {
    background-color: #222A33;
    padding: 10px 20px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    transition: .1s linear;
}
.dialogsItems a:hover {
    background-color: #545c65;
}
.dialogsTitle {
    font-weight: 300;
    letter-spacing: 1px;
    margin: -10px 0px 10px 15px;
}
.messages {
    background: rgba(88, 96, 109, 0.6);
    overflow: auto;
    position: relative;
    height: calc(100vh - 60px);
    grid-area: m;
}
.messagesWrapper {
    height: calc(100vh - 120px);
    padding: 0px 10px;
    overflow-y: auto;
}
.messagesWrapper::-webkit-scrollbar {
    width: 0px;
}
.userCreateMessage {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.userCreateMessage button {
    background-color: #00e6a5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 0px 5px;
    border-radius: 50px;
}
.userCreateMessage button:hover {
    background-color: #00e676;
}
.userCreateMessage textarea {
    height: 40px;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 15px;
    margin: 0px 5px 5px;
    padding: 2px 5px;

}